:root {
    --bg-color: rgb(255, 255, 255);
    --body-bgcolor: rgb(230, 230, 230);
}

body {
    background-color: var(--body-bgcolor);
}

.container-product {
    background-color: var(--bg-color);
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    "header header header header header"
    "sidebar main  main   main   main"
    "sidebar main  main   main   main";
}

.main-section {
    grid-area: main;
    padding: 0.8rem;
    background-color: var(--bg-color);
    margin: 5rem 1rem 1rem 0;
}